<section>
  <div class="container">
    <div class="header">
      <div class="row">
        <h1>Journey</h1>
      </div>
    </div>
    <div class="gallery">
      <div class="item">
        <a href="#">
          <img
            src="assets/images/TallinnHarbor.jpeg"
            onclick="openModal(1)"
            alt="Tallinn Harbor"
          />
          <h3>Harbor</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/TallinnSunrise.jpeg"
            onclick="openModal(2)"
            alt="Sunrise"
          />
          <h3>Sunrise</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/Wonderworks.jpeg"
            onclick="openModal(3)"
            alt="Wonderworks"
          />
          <h3>Wonderworks</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/Broadway.jpeg"
            onclick="openModal(4)"
            alt="Broadway"
          />
          <h3>Broadway</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/WhiteHouse.jpeg"
            onclick="openModal(5)"
            alt="White House"
          />
          <h3>White House</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/IHaveSeen.jpeg"
            onclick="openModal(6)"
            alt="War"
          />
          <h3>I have seen war</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/EmpireState.jpeg"
            onclick="openModal(7)"
            alt="New York City"
          />
          <h3>Night view</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/LibertyStatue.jpeg"
            onclick="openModal(8)"
            alt="Statue of Liberty"
          />
          <h3>Statue of Liberty</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/GrandCentralTerminal.jpeg"
            onclick="openModal(9)"
            alt="Grand Central Terminal"
          />
          <h3>Grand Central Terminal</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/CentralPark.jpeg"
            onclick="openModal(10)"
            alt="Central Park"
          />
          <h3>Central Park</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/TheHighLine.jpeg"
            onclick="openModal(11)"
            alt="The High Line"
          />
          <h3>The High Line</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/OldTrain.jpeg"
            onclick="openModal(12)"
            alt="Old Train Station"
          />
          <h3>Old Train Station</h3>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <img
            src="assets/images/Iguana.jpeg"
            onclick="openModal(13)"
            alt="Iguana"
          />
          <h3>My Little Pony</h3>
        </a>
      </div>
    </div>
  </div>
</section>
