.card-dialog-container {
  @extend .flex;
  width: 100%;
  height: 100%;

  .arrow-icon {
    @extend .flex;
    font-size: 50px;
    margin: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
