<div
  class="card-dialog-container"
  *ngIf="selectedCard$ | async as selectedCard"
>
  <div class="card-dialog-body">
    <mat-icon class="arrow-icon" (click)="changeSelectedCard(-1)"
      >keyboard_arrow_left</mat-icon
    >
    <div class="card-dialog-img">
      <img
        defaultImage="assets/images/placeholder.gif"
        [lazyLoad]="selectedCard.img"
      />
    </div>

    <mat-icon class="arrow-icon" (click)="changeSelectedCard(1)"
      >keyboard_arrow_right</mat-icon
    >
  </div>

  <h3>
    {{ selectedCard.title + " - " + (selectedCard.date | date) }}
  </h3>
  <h4>{{ selectedCard.place }}</h4>
</div>
